html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0px;
    /*overflow-x: hidden;*/
}

#header{
    border: 2px solid navy;
    height: 400px;
    width:auto;
}

#main_content{
    border: 2px solid navy;
    height:400px;
    width:auto;
}