html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0px;
    /*overflow-x: hidden;*/
}

#header{
    border: 2px solid navy;
    height: 400px;
    width:auto;
}

#main_content{
    border: 2px solid navy;
    height:400px;
    width:auto;
}

/*background-image: url("../assets/top-back@2x.jpg");*/

@media screen and (min-width: 980px) /* Desktop */ {
    body {
        background: red;
    }
}

@media screen  and (max-width: 979px) /* Tablet */ {
    body {
        background: blue;
    }
}

@media screen and (max-width: 420px) /* Mobile */ {
    body {
        background: green;
    }
}