html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0px;
    /*overflow-x: hidden;*/
}

#header{
    border: 2px solid navy;

    background-image: url("../assets/destinylogo.jpg");
    background-position: center;
    background-repeat: no-repeat;

    -webkit-filter: blur(5px); /* Chrome, Safari, Opera */
    filter: blur(5px);
    
    height: 800px;
    width:auto;
}

#main_content{
    border: 2px solid navy;
    height:400px;
    width:auto;
}

#footer{
    border: 2px solid navy;
    height:400px;
    width:auto;
}

#myTopnav{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {background-color: #555;}

ul.topnav li.icon {display: none;}

/*background-image: url("../assets/top-back@2x.jpg");*/

@media screen and (min-width: 980px) /* Desktop */ {
    body {
        text-align: center;
    }
}

@media screen  and (max-width: 979px) /* Tablet */ {
    body {
        text-align: center;
    }
}


@media screen and (max-width:680px) {
    ul.topnav li:not(:first-child) {display: none;}
    ul.topnav li.icon {
        float: right;
        display: inline-block;
    }
}

@media screen and (max-width:680px) {
    ul.topnav.responsive {position: relative;}
    ul.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    ul.topnav.responsive li {
        float: none;
        display: inline;
    }

    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }
}