html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0px;
    /*overflow-x: hidden;*/
}

#header{

    height: 800px;
    width:auto;
}

#menu{
    position: relative;
    z-index: 1;
}

#main_content{
    height:400px;
    width:100%;
}

#slideshowbox{
    width: 500px;
    height: 500px;
}

#footer{
    border: 2px solid navy;
    height:400px;
    width:auto;
}

}

/*--------------------------------------------
MENU.

----------------------------------------------/*

/*Strip the ul of padding and list styling*/
ul {
	list-style-type:none;
	margin:0;
	padding:0;
	position: absolute;
}

/*Create a horizontal list with spacing*/
li {
	display:inline-block;
	float: left;
	margin-right: 1px;
}

/*Style for menu links*/
li a {
	display:block;
	min-width:140px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	background: #2f3036;
	text-decoration: none;
}

/*Hover state for top level links*/
li:hover a {
	background: #19c589;
}

/*Style for dropdown links*/
li:hover ul a {
	background: #f3f3f3;
	color: #2f3036;
	height: 40px;
	line-height: 40px;
}

/*Hover state for dropdown links*/
li:hover ul a:hover {
	background: #19c589;
	color: #fff;
}

/*Hide dropdown links until they are needed*/
li ul {
	display: none;
}

/*Make dropdown links vertical*/
li ul li {
	display: block;
	float: none;
}

/*Prevent text wrapping*/
li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}

/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
	display: block;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	background: #19c589;
	text-align: center;
	padding: 10px 0;
	display: none;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}

/*-------------------------------------

Slideshow

------------------------------------*/

.swiper-container {
width: 100%;
height: 100%;

}
.swiper-slide {
text-align: center;
font-size: 18px;
background: #fff;

/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}


/*------------------------------------

Responsive mobile

--------------------------------------*/

/*background-image: url("../assets/top-back@2x.jpg");*/

@media screen and (min-width: 980px) /* Desktop */ {
    body {
        text-align: center;
    }
}

@media screen  and (max-width: 979px) /* Tablet */ {
    body {
        text-align: center;
    }
}

@media screen and (max-width:680px) {

    /*Make dropdown links appear inline*/
	ul {
		position: static;
		display: none;
	}
	/*Create vertical spacing*/
	li {
		margin-bottom: 1px;
	}
	/*Make all menu links full width*/
	ul li, li a {
		width: 100%;
	}
	/*Display 'show menu' link*/
	.show-menu {
		display:block;
        z-index: 1;
	}

    #menu{
        width:100%;
        margin-left:-40px;
        margin-top: -1px;
        position: absolute;
    }

    #header{
        position: absolute;
        height: 38px;
        width:100%;
        z-index: 1;
    }

    #slideshowbox{
        position: absolute;
        width: 100%;
        height: 400px;
        z-index: -1;
    }

    #main_content{
        height:400px;
        width:100%;
        margin-top:440px;
        position: absolute;
    }


    .swiper-container {
        width: 100%;
        height: 100%;
        z-index: -1;

    }

    .swiper-wrapper{
        z-index: -1;

    }

}
